@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: 0;
  width: 100%;
  font-size: 14px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 28px;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}
.navbar {
  background-color: #3b5d50;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  position: fixed;
  z-index: 1030;
  display: flex;
  width: 100%;
  top: 0;
}
.furni-name {
  color: #fff;
  cursor: pointer;
  font-size: 2.285rem;
  font-weight: 600;
  text-decoration: none;
  padding-top: 0.357rem;
  padding-bottom: 0.357rem;
  margin-right: 1.142rem;
}
span {
  opacity: 0.4;
}
.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.857rem;
  padding-right: 0.857rem;
  width: 100%;
}
.navbar-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.navbar-orderlist {
  list-style: none;
}

.icon-wrap {
  padding: 0.285rem 0.857rem;
  border: 1px solid transparent;
  opacity: 0.55;
  height: 30px;
  width: 30px;
}

.hamburger svg path {
  fill: #fff;
  stroke: #fff;
}

.container-toggle {
  box-sizing: border-box;
  color: rgb(106, 106, 106);
  display: block;
  flex-basis: 100%;
  flex-grow: 1;
}

#menuToggle {
  display: none;
}

.menu {
  display: none;
  flex-direction: column;
}
.menu2 {
  display: none;
  flex-direction: row;
}

#menuToggle:checked ~ .menu,
#menuToggle:checked ~ .menu2 {
  display: flex;
  color: #fff;
  list-style: none;
  padding: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
}

#first-icon {
  margin-right: 20px;
}
.menu li {
  padding: 0.571rem 0;
}
.menu2 li {
  padding: 0.571rem 0;
}

#first-icon i.fa-regular.fa-user {
  font-size: 20px;
  padding: 0.571rem 0;
}

#second-icon i.fa-solid.fa-cart-shopping {
  font-size: 20px;
  padding: 0.571rem 0;
}

.menu {
  margin: 0;
  margin-bottom: 0.571rem;
}
.menu2 {
  margin: 0;
  margin-bottom: 0.571rem;
  cursor: pointer;
}

#home a {
  opacity: 1;
}

/*Start hero section*/

.hero {
  background-color: #3b5d50;
  padding: 7rem 0;
}

.hero-container {
  width: 100%;
  padding-right: 0.857rem;
  padding-left: 0.857rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.border-text {
  justify-content: space-between !important;
  margin: 0 -0.857rem;
}

.content-border {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 0.857rem;
  box-sizing: border-box;
}
.content-hero {
  padding-top: 1.714rem;
  position: relative;
  z-index: 10;
}
.content-hero h1 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 2.142rem;
  line-height: 1.2;
  margin-top: 0;
}

.content-hero .p-text {
  opacity: 0.5;
  color: #fff;
  margin-bottom: 1.714rem !important;
  margin-top: 0;
}
.content-hero .buttons-hero {
  margin-top: 0;
  margin-bottom: 1.142rem;
}

.buttons-hero .shop-button {
  color: #2f2f2f;
  background-color: #f9bf29;
  border: 1px solid #f9bf29;
  font-weight: 600;
  padding: 0.857rem 2.142rem;
  border-radius: 2.142rem;
  text-decoration: none;
  margin-right: 0.571rem;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  font-size: 1.142rem;
  transition: background-color 0.3s, border-color 0.3s;
}

.buttons-hero .explore-button {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  padding: 1.04rem 2.142rem;
  border-radius: 2.142rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.142rem;
  line-height: 1.714rem;
  transition: border-color 0.3s;
}

.buttons-hero .shop-button:hover {
  background-color: #ecb11b;
  border-color: #ecb11b;
}

.buttons-hero .explore-button:hover {
  border-color: #fff;
  opacity: 1;
}

.img-container {
  padding: 0 0.857rem;
}

.hero-images {
  position: relative;
  padding-top: 3.428rem;
}

.dots-white {
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.couch {
  width: 90%;
  position: relative;
  z-index: 2;
}

/*products*/

.product-main {
  padding: 8rem 0;
  box-sizing: border-box;
}

.product-container {
  padding: 0 0.857rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  box-sizing: border-box;
}

.products {
  margin: 0 -0.857rem;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.about-products {
  padding: 0 0.857rem;
  margin-bottom: 3.428rem;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}

.header-products {
  margin-bottom: 1.714rem;
  margin-top: 0;
  font-weight: 500;
  color: #2f2f2f;
  font-size: 1.765rem;
  line-height: 2.118rem;
}

.p-products {
  margin-bottom: 1.714rem;
  margin-top: 0;
}

.p-button {
  margin-bottom: 1.142rem;
  margin-top: 0;
}

.button-product {
  padding: 0.857rem 2.142rem;
  font-weight: 600;
  border: 1px solid transparent;
  color: #fff;
  background-color: #2f2f2f;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.142rem;
  line-height: 1.5;
  cursor: pointer;
  display: inline-block;
}

.button-product:hover {
  background-color: #222222;
  border-color: #222222;
  transition: 0.2s all ease;
}

.product-item1 {
  padding: 0 0.857rem;
  margin-bottom: 3.428rem;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
}

.product-item1-a {
  padding-bottom: 3.571rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  position: relative;
}
.product-item1-img {
  margin-bottom: 2.142rem;
  position: relative;
  top: 0;
  max-width: 100%;
  height: auto;
}
.product-item1-h3 {
  margin-bottom: 0.571rem;
  color: #2f2f2f;
  font-weight: 600;
  font-size: 1.142rem;
  margin-top: 0;
  line-height: 1.2;
}

.product-item1-price {
  color: #2f2f2f;
  font-weight: 800;
  font-size: 1.285rem;
}

.product-item1-btn {
  margin-top: 40px;
  opacity: 1;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  box-sizing: border-box;
  background-color: #2f2f2f;
  border-radius: 50%;
  left: 45.5%;
  visibility: visible;
  align-content: baseline;
}
.product-item1-btn-img {
  position: absolute;
  left: 25%;
  top: 25%;
  box-sizing: border-box;
  visibility: visible;
}
.product-item2 {
  padding: 0 0.857rem;
  margin-bottom: 3.428rem;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
}

.product-item2-a {
  padding-bottom: 3.571rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  position: relative;
}
.product-item2-img {
  margin-bottom: 2.142rem;
  position: relative;
  top: 0;
  max-width: 100%;
  height: auto;
}
.product-item2-h3 {
  margin-bottom: 0.571rem;
  color: #2f2f2f;
  font-weight: 600;
  font-size: 1.142rem;
  margin-top: 0;
  line-height: 1.2;
}

.product-item2-price {
  color: #2f2f2f;
  font-weight: 800;
  font-size: 1.285rem;
}

.product-item2-btn {
  margin-top: 40px;
  opacity: 1;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  box-sizing: border-box;
  background-color: #2f2f2f;
  border-radius: 50%;
  left: 45.5%;
  visibility: visible;
}
.product-item2-btn-img {
  position: absolute;
  left: 25%;
  top: 25%;
  box-sizing: border-box;
  visibility: visible;
}
.product-item3 {
  padding: 0 0.857rem;
  margin-bottom: 3.428rem;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
}

.product-item3-a {
  padding-bottom: 3.571rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  position: relative;
}
.product-item3-img {
  margin-bottom: 2.142rem;
  position: relative;
  top: 0;
  max-width: 100%;
  height: auto;
}
.product-item3-h3 {
  margin-bottom: 0.571rem;
  color: #2f2f2f;
  font-weight: 600;
  font-size: 1.142rem;
  margin-top: 0;
  line-height: 1.2;
}

.product-item3-price {
  color: #2f2f2f;
  font-weight: 800;
  font-size: 1.285rem;
}

.product-item1-btn,
.product-item2-btn,
.product-item3-btn {
  margin-top: 40px;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  box-sizing: border-box;
  background-color: #2f2f2f;
  border-radius: 50%;
  left: 45.5%;
  visibility: visible;
  opacity: 0;
  cursor: pointer;
  bottom: 0;
  transition: 0.4s all ease;
}

.product-item1-a:hover .product-item1-btn,
.product-item2-a:hover .product-item2-btn,
.product-item3-a:hover .product-item3-btn {
  visibility: visible;
  opacity: 1;
  bottom: -15px;
}
.product-item1-a::before,
.product-item2-a::before,
.product-item3-a::before {
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #dce5e4;
  height: 0%;
  z-index: -1;
  border-radius: 10px;
  transition: 0.4s all ease;
}

.product-item1-a:hover::before,
.product-item2-a:hover::before,
.product-item3-a:hover::before {
  height: 70%;
}

.product-item1:hover .product-item1-img,
.product-item2:hover .product-item2-img,
.product-item3:hover .product-item3-img {
  top: -25px;
  transition: 0.4s all ease;
}

.product-item3-btn-img {
  position: absolute;
  left: 25%;
  top: 25%;
  box-sizing: border-box;
}

/* FOOTER    */

.footer {
  background-color: #fff;
  padding: 5.714rem 0;
  box-sizing: border-box;
  width: 100%;
}

.footer-container {
  position: relative;
  padding: 0 0.857rem;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.sofa-img-div {
  position: absolute;
  top: -14.285rem;
  z-index: 1;
  right: 0;
}

.sofa-img {
  max-width: 380px;
}

.sub-out {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.857rem;
  box-sizing: border-box;
  width: 100%;
  
}

.sub-in {
  padding: 0 0.857rem;

  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}
.sub-container {
  margin-top: 7.142rem;
  margin-bottom: 2.857rem;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
}
.sub-h3 {
  margin-bottom: 0.571rem;
  font-weight: 500;
  font-size: 1.285rem;
  color: #3b5d50;
}

.sub-letter-icon {
  margin-right: 0.285rem;
  opacity: 1;
}

.letter-icon {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.sub-input-container {
  margin-top: -16px;
  margin-right: -8px;
  margin-left: -8px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}
.name-input-div,
.email-input-div,
.sub-send-icon-div {
  margin-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%;

  box-sizing: border-box;
  flex: 0 0 auto;
}
.name-input,
.email-input {
  height: 36px;
  border: 1px solid rgb(206, 212, 218);
  padding: 6px 12px;
  border-radius: 10px;
  max-width: 100%;
  display: block;
  line-height: 1.5;
  font-size: 16px;
}
.sub-send-icon-a {
  background-color: #3b5d50;
  border: 1px solid #3b5d50;
  padding: 12px 30px;
  cursor: pointer;
  flex: 0 0 auto;
  border-radius: 10px;
  box-sizing: border-box;
}

.sub-send-icon-div {
  flex: 0 0 auto;
  width: auto;
  display: flex;
}

#svg-send {
  color: white;
  opacity: 1;

  scale: 1.14;
}

.sub-header {
  opacity: 1;
}

.about-container {
  margin-bottom: 3.428rem!important;
 margin-top: -24px;
 margin-left: -12px;
 margin-right: -12px;
 box-sizing: border-box;
display: flex;
flex-wrap: wrap;
}

.about {
  margin-top:1.714rem ;
  padding-left: 0.857rem;
  padding-right: 0.857rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  

}
.name-footer {
  margin-bottom: 1.714rem;
 
}
.name { font-size: 32px;
  font-weight: 500;
  color: #3b5d50;
  margin-bottom: 1.714rem;
  text-decoration: none;
}
.about-footer {
  margin-bottom: 1.714rem;
}
.socialmedia-icons {
  margin-bottom:1.142rem ;
  padding-left: 0;
  list-style: none;
  

}
.socialmedia-icons li {
  display: inline-block;
  margin: 2px;
}
.about .socialmedia-icons li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #dce5e4;
  color: #3b5d50;
  border: 0px solid transparent;
  border-radius: 50%;
  display: inline-block;
  

}
.about .socialmedia-icons li a span {
  opacity: 1;
}



@media (min-width: 768px) {
  .menu2 {
    padding-left: 0;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: fixed;
    align-items: center;
  }
  .navbar-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.857rem;
    text-align: start;
  }

  .icon-wrap {
    display: none;
  }

  .container-toggle {
    display: flex !important;
    align-items: center;
    box-sizing: border-box;
    text-align: start;
    justify-content: end;
  }
  .menu,
  .menu2 {
    display: flex;
    flex-direction: row;

    list-style: none;
    margin: 0;
  }

  .menu li,
  .menu2 li {
    padding: 0 0.571rem;
    color: #fff;
  }

  .menu2 {
    margin-left: 2.857rem;
    margin-right: 2px;
  }

  #home a {
    border-bottom: 5px solid #f9bf29;
    padding-bottom: 10px;
  }

  .hero {
    padding: 11.571rem 0;
    box-sizing: border-box;
  }

  .hero-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.857rem;
    max-width: 720px !important;
    width: 100%;
    box-sizing: border-box;
  }

  .content-hero h1 {
    font-weight: 700;
    font-size: 2.394rem;
  }

  .content-hero {
    box-sizing: border-box;
    position: relative;
    display: block;
  }

  .menu li,
  .menu2 li {
    padding: 0.571rem 0.571rem;
  }

  #shop a,
  #about a,
  #services a,
  #blog a,
  #contact a {
    border-bottom: 5px solid transparent;
    transition: border-color 0.3s ease, opacity 0.3s ease;
    color: #fff;
    padding-bottom: 10px;
  }
  #shop:hover a,
  #about:hover a,
  #services:hover a,
  #blog:hover a,
  #contact:hover a {
    opacity: 1;
    color: #fff;
    border-bottom-color: #f9bf29;
  }

  .product-container {
    margin: 0 1.714rem;
    max-width: 720px;
  }

  .header-products {
    font-size: 2.002rem;
  }

  .product-item1,
  .product-item2,
  .product-item3 {
    width: 33.33333333%;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    max-width: 720px;
  }
  .footer-container {
    margin: 0 24px;
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .navbar-container {
    max-width: 1140px;
  }
  .menu li {
    margin-left: 1.071rem;
    margin-right: 1.071rem;
  }
  .hero {
    padding-bottom: 13.714rem;
  }

  .hero-container {
    max-width: 1140px !important;
  }
  .border-text {
    display: flex;

    box-sizing: border-box;
  }
  .content-border {
    flex: 0 0 auto;
    width: 41.6%;
    box-sizing: border-box;
  }

  .content-hero {
    position: relative;
  }

  .content-hero h1 {
    font-size: 2.857rem;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
  }
  .product-item1,
  .product-item2,
  .product-item3,
  .about-products {
    width: 25%;
  }
  .product-container {
    display: flex;
    justify-content: space-between !important;
    max-width: 1140px;
    width: 100%;
  }

  .header-products {
    font-size: 2.285rem;
    line-height: 2.742rem;
    font-weight: 500;
  }
  .footer-container {
   max-width: 1140px;
   
  
  }
.sub-container {
  margin-top: 0;
  margin-bottom: 80px;
}
  
}
